
/SaDeBusinessCardScanner.xcodeproj/xcuserdata
buildServer.json
.vscode/settings.json
.vscode/launch.json
SaDeBusinessCardScanner.xcodeproj/project.xcworkspace/xcuserdata/shikha.xcuserdatad/Bookmarks/bookmarks.plist
SaDeBusinessCardScanner.xcodeproj/xcuserdata/shikha.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
